
.todo-container {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 5%;
   
    min-width: 380px;
    min-height: 400px;
    padding: 30px 50px;
    
    background-color:rgba(55, 66, 66, 0.5);
    border-radius: 10px; 
}
.todo-container h3 {
    letter-spacing: 2px;
    align-items: center;
}

.todo-container form input {
    height: 40px;
    border-radius: 10px;
    width: 100%;
    font-weight: 600;
    padding: 0 30px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}


.todo-map {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.todo-map li {
    list-style: none;
    color: aliceblue;
    letter-spacing: 3px;
    line-height: 3rem;
}
.btn-groups {
    width: 100%;
    position: absolute;
    left: 5px;
    bottom: 10px;
    display: flex;
    
}
.btn-groups button {
    width: 50%;
    margin-right: 10px;
    background-color: rgb(203, 229, 240);
    /* position: absolute;
    bottom: 20px;
    right: 160px; */
}

.btn-groups button:hover {
    background-color: rgb(43, 35, 35);
    color: aliceblue;
}